@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
:root {
    --primary-color:  #1488e0;
    --hover-color:  #369deb;
    /* --primary-color:  #e96224;
    --hover-color:  #ff6600; */
}

.project-link {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 2rem;
    color: #000;
    background-color: var(--primary-color);
    box-shadow: none;
    outline: 0;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
}

.project-link:hover {
    background-color: var(--hover-color);
}